{
  "type": "page",
  "title": "{{ ansible_hostname }}",
  "space": {
    "key": "TE"
  },
  "ancestors":[{"id":{{ list.json.results[0].id }}}],
  "body": {
    "storage": {
      "value": "<p> Operating System = {{ ansible_distribution }} {{ ansible_distribution_version }} </p><p> System Cores = {{ ansible_processor_cores }} </p><p> System RAM = {{ ('%0.2f' % (ansible_memtotal_mb/1000)) }}GB </p><p> Hostname = {{ ansible_hostname }} </p><p> IP = {{ ansible_ip_addresses[2] }} </p><br></br><br></br><p> Created - {{ ansible_date_time.hour }}:{{ ansible_date_time.minute }} on {{ ansible_date_time.weekday }} {{ ansible_date_time.weekday_number }}/{{ ansible_date_time.month }}/{{ ansible_date_time.year }} </p>",
      "representation": "storage"
    }
  }
}
