<tr><td class="confluenceTd"><a href='http://192.168.220.101:8090/display/{{ space }}/{{ Local_name }}+-+{{ ansible_hostname }}' rel='nofollow'>{{ Local_name }}</a></td><td class="confluenceTd">{{ ansible_distribution }}</td><td class="confluenceTd">{{ ansible_hostname }}</td><td class="confluenceTd">{{ Managed }}</td><td class="confluenceTd">{{ ip_address }}</td><td class="confluenceTd">{{ Group }}</td><td class="confluenceTd">{{ Status }}</td></tr>