{
  "version": {
    "number": "{{ list.json.results[0].version.number | int + 1 }}"
  },
  "status": "current",
  "title": "{{ prefix }} List Of VMs",
  "type": "page",
  "body": {
    "storage": {
      "value": "{{ contents }}",
      "representation": "storage"
    }
  }
}
