{
  "type": "page",
  "title": "List Of VMs",
  "space": {
    "key": "{{ space }}"
  },
  "ancestors":[{"id":"65573"}],
  "body": {
    "storage": {
      "value": "<p> empty space </p>",
      "representation": "storage"
    }
  }
}
