<h2>{{ group }}</h2><div class="table-wrap"><table class="relative-table wrapped confluenceTable" style="width: 47.8227%;"><colgroup><col style="width: 37.8467%;"/><col style="width: 6.68842%;"/><col style="width: 14.6819%;"/><col style="width: 13.7031%;"/><col style="width: 6.03589%;"/><col style="width: 10.4405%;"/><col style="width: 10.6036%;"/></colgroup><tbody><tr><th class="confluenceTh">Name</th><th class="confluenceTh">OS</th><th class="confluenceTh">Hostname</th><th class="confluenceTh">Managed</th><th class="confluenceTh">IP</th><th class="confluenceTh">Group</th><th class="confluenceTh">Status</th>