<tr><td class="confluenceTd"><a href='http://192.168.220.101:8090/display/TE/{{ logical_name }}+-+{{ ansible_hostname }}' rel='nofollow'>{{ ansible_hostname }}</a></td><td class="confluenceTd">{{ ansible_distribution }}</td><td class="confluenceTd">{{ ansible_hostname }}</td><td class="confluenceTd">{{ managed }}</td><td class="confluenceTd">{{ ansible_ip_addresses[2] }}</td><td class="confluenceTd">{{ group }}</td><td class="confluenceTd">{{ status }}</td></tr>